---
import Layout from '~/layouts/Layout.astro';

const metadata = {
  title: 'Links — Wood Wireline',
};
---

<Layout metadata={metadata}>
  <div id="link-hub"></div>
  <script
    src="https://devtools.prairiegiraffe.com/link-hub-embed.js"
    data-project="proj_ckn59hc3"
    data-target="#link-hub"
    defer
    is:inline
  ></script>
</Layout>
