---
import logoImage from '~/assets/images/logos/Wood Wireline Logo White.svg';
import { Image } from 'astro:assets';
---

<div class="bg-gray-900 dark:bg-transparent px-5 py-2 rounded-lg">
  <Image src={logoImage} alt="Wood Wireline" class="h-10 md:h-12 w-auto" width={200} height={48} />
</div>
